body {
    background-image: url("https://cdn0.weddingwire.com/article/3191/3_2/1280/jpg/11913-1-hero-all-about-events-wedding-arch.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.mainPage{
    background-image: url("https://a.allegroimg.com/original/118fc4/76a623864516859840f2bab7259a/LAKA-KWIETNA-Trawnik-KWIATOWY-5kg-MIX-MIODODAJNE");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*body {*/
/*    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fmyloview.pl%2Ftapeta-zdrowe-jedzenie-ryby-z-lososia-awokado-brokuly-swieze-warzywa-nr-6AC1EA2&psig=AOvVaw0skr5far-ZOVBtqPsDm_r6&ust=1643720297720000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPiv_KOF3PUCFQAAAAAdAAAAABAQ");*/
/*}*/