.search-bar-dropdown{
    display: flex;
    /*width: 50em;*/
}

.dupa {
    /*background-color: greenyellow;*/
    /*display: flex;*/
    background: none;
    text-align: center;
    border-bottom-width: 0px;
    border: none;
    height: 30px;
}

.dupa:hover {
    background-color: yellow;
}

#results {
    position: absolute;
    /*width: 32.8em;*/
}

#search-bar {
    /*width: 25em;*/
}

#grams {
    max-width: 80px;
}

#closeButton {
    background-color: red;

}

.siamp{
    margin-top: 0;
}

.search-ingredient {
    text-align: left;
    min-width: 160px;
}

.ingredient-info {
    /*flex-wrap: wrap;*/
    font-size: 9px;
}

