.search-bar-dropdown{
    display: flex;
    /*width: 50em;*/
}

.form-control {
    /*background-color: greenyellow;*/
    /*display: flex;*/
    background: none;
    text-align: center;
    border-bottom-width: 0px;
    border: none;
    height: 30px;
}

.form-control:hover {
    background-color: yellow;
}

#results {
    position: absolute;
    /*width: 32.8em;*/
}

#search-bar {
    /*width: 25em;*/
}

#grams {
    max-width: 80px;
}

#closeButton {
    background-color: red;

}

