#save {
    background-color: green;
    float: right;
}

.recipeAdd {
    /*margin-top: 8px;*/
    border: none;
}

.savingWindow {
    /*margin-top: 24px;*/
    background-color: deepskyblue;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.saveMessage {
    color: dodgerblue;
}

.wrongMessage {
    color: red;
}

.wholeMeal {
    background-image: url("https://img.pakamera.net/i1/1/209/patery-i-talerze-12521146_69692209.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    min-height: 300px;
}

.wholeMeal:hover {
    border-color: yellow;
}

.calories {
    color: white;
    background: none;
}

.saveButton {
    font-size: 15px
}

.mealInfo {
    background: black;
}

