.ingredientForm {
    max-width: 220px;
    max-height: 200px;
    z-index: 1;
    position: absolute;
}

ul {
    list-style-type: none;
}

body {
    position: absolute;
}

.myInput {
    max-height: 23px;
}
.myInput:hover{
    background-color: yellow;
}
label {
    font-size: 14px;
}